<h2>Olá, <%= current_user.email %></h2>

<h1>Minhas reservas</h1>

<ul>
  <% @bookings.each do |booking| %>

      <% if booking.confirmed.nil?  %>
        <% status = "Pendente"  %>
      <% else %>
        <% status = booking.confirmed ? "Confirmado" : "Recusado"  %>
      <% end %>
      <li><%= booking.place.name %> / <%= booking.user_id %> / <%= booking.date %> / <%= status %></li>
    <% end %>
</ul>

<h1>Minhas casas</h1>

<ul>

    <% @places.each do |place| %>
      <% place.bookings.each do |booking| %>
        <% if booking.confirmed.nil?  %>
            <% status = "Pendente"  %>
          <% else %>
            <% status = booking.confirmed ? "Confirmado" : "Recusado"  %>
          <% end %>
          <li><%= booking.place.name %> / Host: <%= place.user_id %> / Guest: <%= booking.user_id %> /
            <%= booking.date %> / <%= status %>
            <%= link_to "Accept", accept_bookings_path(booking) %>
            <%= link_to "Decline", decline_bookings_path(booking) %>
            </li>
        <% end %>
      <% end %>


</ul>
