<h1>Index of Bookings</h1>


  <% @places.each do |place| %>
  <% @bookings.each do |booking| %>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <% if booking.place_id == place.id %>
      <li><%= booking.created_at %></li>
      <li><%= booking.status %></li>
      <li>Booking_Place_id<%= booking.place_id %></li>
      <li>Place_id<%= place.id %></li>
      <li>Place_name<%= place.name %></li>
      <li>User of place<%= place.user.id %></li>
  </div>
