
<div class="container mt-3">
  <%= simple_form_for(@place) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :available %>
    <%= f.submit class: "btn btn-ghost" %>
  <% end %>
</div>
