<h1>Info about Places</h1>

<p>Name: <%= @place.name %></p>
<p>Address: <%= @place.address %></p>
<p>Rating: <%= @place.rating %></p>

<!-- Não use tag a no rails, sempre use link_to -->
<!-- <a href="/places">All places</a> -->

<!-- <p>
  <%= link_to 'All places', places_path %>
</p>

<p>
  <%= link_to 'Edit this place', edit_place_path(@place) %>
</p>

<p>
  <%= link_to 'Remove this place', place_path(@place), method: :delete, data: { confirm: 'Are you Sure?' } %>
</p>

<p>
  <%= link_to 'HOME', root_path %>
</p>
 -->
